<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script src="../Static/JS/about.js"></script>
</head>

<body>
    <header id="header-index">
        <h1>О нас</h1>
        <p>Мы делаем тестовый сайт и вот, что у нас получается</p>
        <!--SLIDER-->
    </header>

    <!--SIDEBAR-->

    <div class="reviews">
        <div class="review-button">
            <button onclick="addComment()">Оставить отзыв</button>
        </div>
    </div>

    <!--FOOTER-->
</body>
</html>